/* Commom items */

body .box{
    margin-top: 1cm;
    margin-left: 1cm;
}

body {
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 34%, rgb(107, 107, 121) 68%);  
    margin-top: 20px;
}

.container{
    font-family: cursive;
    margin: 60px 100px 100px 100px;
    color: aliceblue;
}

.container h2{
    margin-top: 50px;
}

.ocean {
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill=' rgb(161, 0, 0)'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }
  

.blink {
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:blink;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  @-moz-keyframes blink{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes blink {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
    .dot {
        background-color: rgb(161, 0, 0);
        border-radius: 50%;
        display: inline-block;
      }

@media only screen and (max-width: 720px) {
    .wave {
        z-index: -100;
        /* bottom:-100; */
        /* display: block; */
        background-repeat: no-repeat;
      }

    h2{
        font-size: 18px;
    }

    iframe{
        width: 200px;
    }

    .container{
        margin-left: 150px;
        margin-top: 150px;
    }

    .dot {
        height: 15px;
        width: 15px;
      }

    h1{
        padding-top: 90px;
        font-family: cursive;
        color: aliceblue;
    }

    .navbar{
        margin-top: 200px;
        position: fixed;
        padding: 0;
        height: 80px;
        font-size: 18px;
        z-index: 100;
    }

    .navbar ul > li > ul{
        display: inline;
        margin-right: 0;
    }

    .navbar li{
        margin-right: 100px;
        float: left;
        min-width: 60px;
        border-radius: 10px;
        padding: 8px;
        border: 2px solid rgb(126, 178, 215);
        display: block;
        z-index: 100;
        text-align: center;
        position: relative;
    }
    
    .navbar ul li a{
        text-decoration: none;
        color: white;
    }
    
    .navbar ul li ul{
        visibility: hidden;
        position: absolute;
    }

    .navbar ul li ul li{
        left: 25px;
        background-image: linear-gradient(180deg, rgb(103, 103, 103) 0%, rgba(86,86,102,1) 99%);  
    }

    .navbar ul li ul li ul li{
        top: -30px;
        left: 30px;
    }

    .navbar ul li:hover > ul,
    .navbar ul li:focus-within > ul,
    .navbar ul li ul:hover,
    .navbar ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    .navbar li:hover,
    .navbar li:focus-within {
      background: rgba(136, 197, 214, 0.765);
      cursor: pointer;
    }

    .gridPhotoGallery div img {
        width: 100px;
        height: 100px;
    }

    .form {
        position: fixed;
        font-size: 14px;
        line-height: 30px;
        height: fit-content;
        width: fit-content;
        display: flex;
        max-width: 500px;
        left: 150px;
        margin: 20px;
        overflow: hidden;
    }

    .form ul {
        display: block;
        padding: 5;
    }

    textarea {
        box-sizing: border-box;
        width: 100%;

    }
      
}

  @media only screen and (min-width: 720px) {


    h1{
        padding-top: 50px;
        font-family: cursive;
        color: aliceblue;
    }

    .dot {
        height: 25px;
        width: 25px;
      }

    .container{
        margin: 60px 200px 100px 200px;
    }

    p{
        font-size: 20px;
    }

    .navbar{
        text-align: center;
        height: 50px;
        margin-left: 90px;
        margin-top: 100px;
    }

    .navbar > ul > li > ul > li{
        box-shadow: 7px 7px rgba(0, 0, 0, 0.365);
    }
    
    .navbar ul li ul li{
        margin-right: 28px;
        float: left;
        min-width: 90px;
        border: 2px solid rgb(126, 178, 215);
        border-radius: 10px;
        padding: 6px;
        font-size: 19px;
        display: block;
        position: relative;
        z-index: 100;
        background-image: linear-gradient(180deg, rgb(103, 103, 103) 0%, rgba(86,86,102,1) 99%);  

    }
    
    .navbar ul li ul li a{
        text-decoration: none;
        color: white;
    }
    
    .navbar ul li ul li ul{
        position: absolute;
        visibility: hidden;
        transition: all 0.5s ease;
        margin-top: 10px;
        font-size: 17px;
        padding-left: 0px;
        left: 0px;
    }
    
    .navbar ul li ul li:hover > ul,
    .navbar ul ul li li:focus-within > ul,
    .navbar ul li ul li ul:hover,
    .navbar ul li ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    .navbar li:hover,
    .navbar li:focus-within {
      background: rgba(136, 197, 214, 0.765);
      cursor: pointer;
    }

    #Menu{
        display: none;
    }

    .gridPhotoGallery div img {
        width: 150px;
        height: 150px;
    }

    .form {
        display: block;
        position: fixed;
        font-size: 18px;
        line-height: 30px;
        height: fit-content;
        width: fit-content;
        display: inline-block;
        max-width: 570px;
        left: 150px;
        margin: 40px;
        overflow: hidden;
    }
}

.navbar {
    font-family: Garamond, Baskerville, "Baskerville Old Face";
    font-weight: bold;
}

.navbar ul li{
    list-style: none;
}

#logo{
    width: 120px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 30;
}

/* PhotoGallery's items */

.gridPhotoGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1cm;
    align-items: center;
    width: min-content;
    height: min-content;
    margin: auto;
    padding: 40px;
    margin-top: 40px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.365);
}
.gridPhotoGallery div img {
    border: 2px;
    border-radius: 1cm;
}

.div1 { grid-area: auto; }
.div2 { grid-area: auto; }
.div3 { grid-area: auto; }
.div4 { grid-area: auto; }
.div5 { grid-area: auto; }
.div6 { grid-area: auto; }

.hover_effect {
    height:25%;
    width: auto; 
  }
   
.hover_effect:hover {
    height: 50%;
    width: auto;
    max-width: 300%;
    position: fixed;
    top: 0;
    margin-top: 250px;
    margin-right: 60px;

  }

/* Contact's items */

.form ul li{
    list-style: none;
}

.form label {
    display: block;
}

.form {
    border: 2px solid rgb(126, 178, 215);
    font-family: Poppins;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.365);
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);   
    color: black;
}

button{
    color: black;
    width: 100px;
    height: 30px;
    right: 200;
    margin-top: 30px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); 
    font-family: Poppins;
  
}

.form li{
    width: 200px;
    float: left;
    margin-bottom: 40px;
}

select{
    width: 170px;
    height: 25px;
}

.itemForm {
    border-radius: 15px;
}

input{
    height: 20px;
}

textarea{
    resize: none;
    border-radius: 15px;
    display: block;
}
